<!DOCTYPE html>
<html>
<head>
    <title>Employee List</title>
</head>
<body>
    <h1>Employee List</h1>
    <table>
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Designation</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.employee_id }}</td>
            <td>{{ employee.first_name }} {{ employee.last_name }}</td>
            <td>{{ employee.designation }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>